<h1>Заполнена форма!</h1>
<b>Данные:</b><br>
<table>
	<tr>
		<td width="100px">
			ФИО
		</td>
		<td>
			[fio]
		</td>
	</tr>
	<tr>
		<td>
			E-mail
		</td>
		<td>
			[email]
		</td>
	</tr>
	<tr>
		<td>
			Телефон
		</td>
		<td>
			[phone]
		</td>
	</tr>
	<tr>
		<td>
			г. Откуда
		</td>
		<td>
			[city_from]
		</td>
	</tr>
	<tr>
		<td>
			г. Куда
		</td>
		<td>
			[city_to]
		</td>
	</tr>
	<tr>
		<td>
			Вес
		</td>
		<td>
			[ves]
		</td>
	</tr>
	<tr>
		<td>
			Объем
		</td>
		<td>
			[objem]
		</td>
	</tr>
	<tr>
		<td rowspan="2">
			Вид транспорта:
		</td>
		<td>
			ЖД - [jd]
		</td>
	</tr>
	<tr>
		<td>
			Авиа - [avia]
		</td>
	</tr>
	<tr>
		<td colspan="2">Описание груза:</td>
	</tr>
	<tr>
		<td>[description]</td>
	</tr>
</table>