<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<!--[if lte IE9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<title>Свой Человек</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css' />
<link href="css/bootstrap.css" rel="stylesheet" />
<link href="css/bootstrap-responsive.css" rel="stylesheet" />
<link href="css/custom.css" rel="stylesheet" />
</head>



<body>

<div class="wrapper">
	<header id="header">
		<div class="headInfo row-fluid">
			<div class="span6">
				<p style="padding-top:5px">Email: <a href="mailto:info@svoichelovek.ru">info@svoichelovek.ru</a> | Телефон: +7 (499) 638-39-58</p>
			</div>
			<div  class="span6">
				<div class="pull-right">
					Мы в соц.сетях:
					<ul class="tooltip-title top-social">
						<li><a class="social1-top" rel="tooltip" href="#" data-original-title="Facebook"></a></li>
						<li><a class="social2-top" rel="tooltip" href="#" data-original-title="Twitter"></a></li>
						<li><a class="social3-top" rel="tooltip" href="#" data-original-title="Google+"></a></li>
						<li><a class="social4-top" rel="tooltip" href="#" data-original-title="Rss Feed"></a></li>
					</ul>
				</div>
			</div>
		</div>

		<hr>

		<div class="mainHead">
			<nav id="nav" class="pull-right">
				<ul class="nav nav-pills">
					<li class="active"><a href="#">Тарифы</a></li>
					<li><a href="#">Инструменты</a></li>
					<li><a href="#">Компания</a></li>
					<li><a href="#">Компания</a></li>
					<li><a href="#">Компания</a></li>
				</ul>
			</nav>

			<h1 class="logo"><a href="/"><img src="img/logo.png" alt="Транспортная компания Свой человек" /></a></h1>
		</div>
	</header>

	<div class="infoLine">
		<div class="pull-left lineBtn"><a class="btn btn-success">Как мы работаем</a>&nbsp;<a class="btn btn-primary">Оформить заявку</a></div>
		<p>Услугами нашей компании пользуются тысячи индивидуальных предпринимателей, а так же предприятий малого и среднего бизнеса. <strong>Посмотреть отзывы!</strong></p>
	</div>

	<div class="row-fluid">
		<div class="span3">
			<div class="mainmenu">
				<h2 class="menuTitle"><i class="icon-home"></i> Разделы сайта</h2>
				<ul class="nav nav-tabs nav-stacked noradius">
					<li><a href="#">Товары из Китая</a></li>
					<li><a href="#">Вопрос &mdash; ответ</a></li>
					<li><a href="#">Где и как взять кредит</a></li>
					<li><a href="#">Кредитная история</a></li>
					<li><a href="#">Кредитный калькулятор</a></li>
					<li><a href="#">Пакет документов заемщика</a></li>
					<li><a href="#">Причины отказа в кредите</a></li>
					<li><a href="#">Финансовая грамотность</a></li>
				</ul>
			</div>


			<div class="block">
				<p>Найдите свою посылку по номеру заказа</p>
				<a class="btn" type="button">Проверить &rarr;</a>
			</div>

			<div class="block">
				<h2 class="blockTitle"><a href="#">Отзывы</a></h2>
				
				<ul class="reviews unstyled">
					<li>
						<div class="reviewFoto"><img alt="" src="tmp/otz1.png"></div>
						<span class="reviewAuthor">Алексеева Анна</span>
						<span class="reviewDate">08.06.12</span>
						<p class="reviewText">Я хочу выразить благодарность интернет-магазину MCosmetics. Огромный выбор, удобная навигация , низкие цены и выгодные акции  - однозначно лучшие на рынке</p>
					</li>
					<li>
						<div class="reviewFoto"><img alt="" src="tmp/otz2.png"></div>
						<span class="reviewAuthor">Алексеева Анна</span>
						<span class="reviewDate">08.06.12</span>
						<p class="reviewText">Я хочу выразить благодарность интернет-магазину MCosmetics. Огромный выбор, удобная навигация , низкие цены и выгодные акции  - однозначно лучшие на рынке</p>
					</li>
				</ul>
				<p><a href="#">Смотреть все отзывы</a><br /><a href="#">Оставить отзыв</a></p>
			</div>
		</div>

		<div class="span6">
			<article class="news" id="alexus-ajax">
				<h2 class="newsTitle">Контейнерные перевозки из Китая</h2>
				<div class="newsText">
					<p><img src="tmp/news.png" alt="" /></p>
					<p>Существует масса различных способов <a href="gruzoperevozki-iz-kitaya">транспортировки грузов</a>, но самый распространенный из всех - перевозка контейнерами.<br><br>
					Благодаря герметичности конструкции, товар защищен от механический повреждений, и может беспрепятственно перегружаться с одного вида транспорта на другой без потери комплектности.</p>
					<p>В зависимости от типа и массы груза могут быть использованы различные типы контейнеров:</p>
					<ul>
						<li>универсальные или специализированные</li>
						<li>крупногабаритные или малогабаритные</li>
					</ul>
					<p><strong>Контейнерные перевозки из Китая</strong> - это современный вид транспортировки грузов, позволяющий обеспечивать мультимодальные перевозки с наименьшими затратами и полной сохранностью груза.</p>
					<p>Преимущества доставки контейнером из Китая</p>
					<ul>
						<li>Возможность перевозки самых разных грузов: доставка автомашин, бытовой техники, товаров народного потребления, пищевой, мебельной, текстильной, металлургической и иной продукции.</li>
						<li>Возможность оперативного отслеживание груза. Нашим клиентам мы предоставляем актуальные сведения о местонахождении, перевалке груза в контрольных точках и т.д.</li>
						<li>Контроль за всем процессом отгрузки, в ходе чего отслеживается наличие порожних контейнеров из Китая в пунктах отгрузки, проходит согласование подачи на загрузку, всячески оказывается содействие и поддержка в решении таможенных вопросов.</li>
						<li>Наличие различных маршрутов доставки грузов.</li>
					</ul>
					<strong>Свой человек</strong> - ваш верный помощник в контейнерных перевозках из Китая.<br><br> Наличие представительств в Китае позволяет осуществлять нам постоянный контроль за движением груза, и перевозка контейнера из Китая будет отслеживаться нашими специалистами на каждом этапе.<br>
					<br>
					<strong style="font-size:large">Другие виды услуг:</strong>
					<ul>
					<li><a href="dostavka-iz-kitaya">Доставка из Китая</a></li>
					<li><a href="tamozhennoe-oformlenie-gruza">Таможенное оформление груза</a></li>
					<li><a href="sklad-v-kitae">Складирование и консолидация</a></li>
					<li><a href="logistika-iz-kitaya">Логистика из Китая</a></li>
					<li><a href="strachovanie-gruza">Страхование</a></li>
					<li><a href="perevozka-sbornogo-gruza-iz-kitaya">Сборные грузы</a></li>
					<li><a href="tovar-iz-kitaya">Поиск товаров в Китае</a></li>
					</ul>
					<strong style="font-size:large">Хотите оформить заявку? <a href="http://a-l-e-x-u-s.ru/siteEngine/raschet-stoimosti">Заполните форму</a></strong>
				</div>
			</article>
		</div>

		<div class="span3">
			<div class="block">
				<p style="text-align:center"><a href="#video" role="button" data-toggle="modal"><img src="img/barik.jpg" alt="Бари Алибасов" /></a></p>
				<p>Бари Алибасов - известный продюсер, заслуженный артист России и основатель музыкальной группы На-На. Недавно, он приезжал в Китай, чтобы купить себе мебель для дома. И наша компания помогала ему в закупке и доставке мебели в Москву!</p>
				<a href="#video" role="button" data-toggle="modal">Смотреть видео отзыв</a>
				
				<div id="video" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header" style="overflow:hidden"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
					<div class="modal-body"><object width="530" height="330"><param name="video" value="http://static.video.yandex.net/lite/svoichelovek/z8ii7qgcct.4303/"></param><param name="allowFullScreen" value="true"></param><param name="scale" value="noscale"></param><embed src="http://static.video.yandex.net/lite/svoichelovek/z8ii7qgcct.4303/" type="application/x-shockwave-flash" width="530" height="330" allowFullScreen="true" scale="noscale" ></embed></object>
					</div>
				</div>
			</div>

			<!-- VK Widget -->
			<script type="text/javascript" src="//vk.com/js/api/openapi.js?79"></script>
			<div id="vk_groups"></div>
			<script type="text/javascript">
			VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "290"}, 37989608);
			</script>
			<!-- VK Widget -->
		</div>
	</div>

	<hr>

	<div class="partners">
		<h2>Наши партнёры</h2>
		<ul class="inline unstyled">
			<li><img src="tmp/part1.jpg" alt="" /></li>
			<li><img src="tmp/part2.jpg" alt="" /></li>
			<li><img src="tmp/part3.jpg" alt="" /></li>
			<li><img src="tmp/part4.jpg" alt="" /></li>
			<li><img src="tmp/part5.jpg" alt="" /></li>
			<li><img src="tmp/part6.jpg" alt="" /></li>
		</ul>
	</div>

	<hr>


	<footer class="footer">
		<div class="footerLeft">
			<nav class="footerNav">
				<ul class="navFirst unstyled">
					<li><a href="#">Компания</a></li>
					<li><a href="#">Инструменты</a></li>
					<li><a href="#">Тарифы</a></li>
					<li><a href="#">Преимущества</a></li>
					<li><a href="#">Партнеры</a></li>
					<li><a href="#">Поддержка</a></li>
				</ul>
				<ul class="navSecond unstyled">
					<li><a href="#">Поддержка</a></li>
					<li><a href="#">Pemium SMS</a></li>
					<li><a href="#">Мобильная подписка</a></li>
					<li><a href="#">Банковские карты</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="footerRight">
			<div class="contact">
				<p>+7 (499) 638-39-58</p>
				<p><a href="mailto:info@svoichelovek.ru">info@svoichelovek.ru</a></p>
			</div>
		</div>
	</footer>

</div>


<!-- Scripts -->
<script type="text/javascript" src="js/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript">
	$(function(){
		$('a[rel="tooltip"]').tooltip({placement: 'bottom'});
	});
</script>

</body>
</html>
