<h1>Заполнена форма!</h1>
<b>Данные:</b><br>
<table>
	<tr>
		<td width="100px">
			Адрес отправки, фирма, конт. лицо, тел.
		</td>
		<td>
			[country_source]
		</td>
	</tr>
	<tr>
		<td>
			Адрес доставки, фирма, конт. лицо, тел.
		</td>
		<td>
			[country_dest]
		</td>
	</tr>
	<tr>
		<td>
			Наименование товара/характер груза
		</td>
		<td>
			[name_goods]
		</td>
	</tr>
	<tr>
		<td>
			*Вес нетто,кг
		</td>
		<td>
			[weightNettoGoods]
		</td>
	</tr>
	<tr>
		<td>
			*Вес брутто,кг
		</td>
		<td>
			[weightBruttoGoods]
		</td>
	</tr>
	<tr>
		<td>
			*Объем,м3
		</td>
		<td>
			[volumeGoods]
		</td>
	</tr>
	<tr>
		<td>
			*Кол во мест ( шт.)
		</td>
		<td>
			[pcs]
		</td>
	</tr>
	<tr>
		<td>
			*Стоим. груза,$
		</td>
		<td>
			[valueGoods]
		</td>
	</tr>
	<tr>
		<td>
			Вид упаковки
		</td>
		<td>
			[upakType]
		</td>
	</tr>
	<tr>
		<td>
			ТНВЭД
		</td>
		<td>
			[tnved]
		</td>
	</tr>
	<tr>
		<td>
			Торговая марка
		</td>
		<td>
			[trademark]
		</td>
	</tr>
	<tr>
		<td>
			Ссылка на сайт или ссылка на фото
		</td>
		<td>
			[url]
		</td>
	</tr>
	<tr>
		<td>
			Ваш бюджет на доставку,$
		</td>
		<td>
			[deliv]
		</td>
	</tr>
	<tr>
		<td>
			*e-mail:
		</td>
		<td>
			[email]
		</td>
	</tr>
</table>
Примечания:<br>
[remarks]